services:
  postgres:
    image: postgres:latest
    container_name: postgres_db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: Aa123456
      POSTGRES_DB: app-db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql
    command: postgres -c wal_level=logical -c max_replication_slots=10 -c max_wal_senders=10

  pgadmin:
    image: elestio/pgadmin
    container_name: pgadmin
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@example.com
      PGADMIN_DEFAULT_PASSWORD: adminpassword
    volumes:
      - pgadmin_data:/var/lib/pgadmin
    ports:
      - "5050:80"
    depends_on:
      - postgres

volumes:
  postgres_data:
    external: false
  pgadmin_data:
    external: false
